
**/*.py[cdo]
**/*.swp
**/*.sqlite3
**/*.sqlite
**/__pycache__
venv
log/*
scripts/raspbian.public.key*
pub/excel/*
go
app/fcode.py

!**/*.bak
!go/.gitkeep
!log/.gitkeep
!pub/.gitkeep
!pub/excel/.gitkeep
