# 1.general ignore
**/*.py[cdo]
**/*.swp
**/*.sqlite3
**/*.sqlite
**/__pycache__

# 2. ignore folder
venv
venv.bak
go
logs/*
pub/excel/*

# 3.ignore specified file
scripts/raspbian.public.key*
app/fcode.py

# 4.exceptions that not ignore
!**/*.bak
!go/.gitkeep
!logs/.gitkeep
!pub/.gitkeep
!pub/excel/.gitkeep
!sqlite/.gitkeep
