<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>
<head>
  <title>
    DataIQ Version Query Portal
  </title>
</head>
<body>
  <table border="1">
    <h4>老化测试数据: </h4>
    <tr>
      <th>序号</th>
      <th>ID</th>
      <th>设备类型</th>
      <th>工厂</th>
      <th>固件版本</th>
      <th>RSSI_BLE</th>
      <th>RSSI_WIFI</th>
      <th>MAC_BLE</th>
      <th>MAC_WIFI</th>
      <th>合格</th>
      <th>云同步</th>
      <th>时间</th>
      <th colspan="2">控制</th>
    </tr>
    {% for result in results %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{result.id}}</td>
        <td>{{result.device_type}}</td>
        <td>{{result.factory}}</td>
        <td>{{result.fw_version}}</td>
        <td>{{result.rssi_ble}}</td>
        <td>{{result.rssi_wifi}}</td>
        <td>{{result.mac_ble}}</td>
        <td>{{result.mac_wifi}}</td>
        <td>{{result.is_qualified}}</td>
        <td>{{result.is_sync}}</td>
        <td>{{result.datetime}}</td>
	<td>
          <form action = "{{url_for('blue_command.cmd_on_off')}}" method = "post">
	    <input type = "hidden" name = "mac" value="{{result.mac_ble}}" />
	    <input type = "hidden" name = "on_off" value="on" />
	    <button type="submit">on</button>
	  </form>
	</td>
	<td>
	  <form action = "{{url_for('blue_command.cmd_on_off')}}" method = "post">
	    <input type = "hidden" name = "mac" value="{{result.mac_ble}}" />			
	    <input type = "hidden" name = "on_off" value="off" />
	    <button type="submit">off</button>
	  </form>
	</td>
      </tr>
    {% else %}
    {% endfor %}
  </table>
  <br>
  <a href="{{ url_for('blue_index.index') }}">返回主页</a> | 
  <a href="{{ url_for('blue_database.info_aging') }}">刷新</a>
  <br>
  <br>
  {%- for message in get_flashed_messages() %}
    {{ message }}
  {%- endfor %} 
</body>
</html>
