# called by models/mysql.py
# called by models/sqlite.py
# called by manage.py init function
# 1 -- Leedarson
# 2 -- Innotech
# 3 -- Tonly
# 4 -- Changhong
# 5 -- TestFactory
# 6 -- Topstar
# 7 -- FSL
FCODE=5
