[Unit]
Description=GE Lighting Auto Test Log Monitor

[Service]
Type=forking
ExecStart=/root/aging/run.sh --logmonitor --start
ExecReload=
ExecStop=/root/aging/run.sh --logmonitor --stop


[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
