    <div style="display: inline">
        <p style="display: inline"><strong>类型</strong>:</span> <span class="text-success"> {{ devicename() }} ({{ devicecode() }})</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>数量</strong>:</span> <span class="text-success"> {{ totalcount() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>固件版本</strong>:</span> <span class="text-success"> {{ fwversion() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>MCU版本</strong>:</span> <span class="text-success"> {{ mcuversion() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>BLE强度阈值</strong>:</span> <span class="text-success"> {{ ble_strength_low() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>WIFI强度阈值</strong>:</span> <span class="text-success"> {{ wifi_strength_low() }}</p>
        <br>
        <br>
        <p style="display: inline"><strong>wifi_mac_low</strong>:</span> <span class="text-success"> {{ wifi_mac_low() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>wifi_mac_high</strong>:</span> <span class="text-success"> {{ wifi_mac_high() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>ble_mac_low</strong>:</span> <span class="text-success"> {{ ble_mac_low() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>ble_mac_high</strong>:</span> <span class="text-success"> {{ ble_mac_high() }}</p>
        &nbsp;&nbsp;&nbsp;
        <p style="display: inline"><strong>factory_stream_id</strong>:</span> <span class="text-success"> {{ factory_stream_id() }}</p>
        &nbsp;&nbsp;&nbsp;
    </div>
    <hr>

