{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    {% block footer %}
        <br>
        <br>
        <footer class="bottom-right" style="position: relative; bottom: 0; padding-bottom: 30px">
            Copyright 2020 by <a href="https://www.gelighting.com/">GE Lighting</a>
        </footer>
    {% endblock %}
{% endblock body %}

{% block metas %}
    {{ super() }}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='pic/cbyge.png')}}">
{% endblock %}

{% block content %}
    <br>
{% endblock %}

{% block title %}GE Lighting 自动化检测工具{% endblock %}

{% block styles %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/cerulean/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.cerulean.341.css') }}">
{% endblock %}

{% block scripts %}
    <script src={{ url_for('static',filename='js/jquery.min.js') }}></script>
    <script src={{ url_for('static',filename='js/bootstrap.min.js') }}></script>
    <script src="{{ url_for('static',filename='js/mycommon.js') }}" type="text/javascript"></script>
{% endblock scripts %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}

