<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >老化测试工具</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id='test' {% if request.path in ['/index/', '/testing/'] %}class='active'{% endif %}><a href="{{url_for('blue_nav.index')}}">开始测试<span class="sr-only">(current)</span></a></li>        
        <li id='manage' {% if request.path in ['/info_aging/', '/info_device/', '/info_factory/'] %}class="active"{% endif %} class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{url_for('blue_database.info_aging')}}">查看测试数据</a></li>
            <li><a href="{{url_for('blue_database.info_factory')}}">查看厂家信息</a></li>
            <li><a href="{{url_for('blue_database.info_device')}}">查看设备类型</a></li>
            <li class="divider"></li>
            <li><a href="#">todo</a></li>
            <li class="divider"></li>
            <li><a href="#">todo</a></li>
          </ul>
        </li>
	<li id='about' {% if '/about/' == request.path %}class='active'{% endif %}><a href="{{url_for('blue_nav.about')}}">关于</a></li>
      </ul>
    </div>
  </div>
</nav>
