        <td>{{ result.device.name }}</td>
        <td>{{ result.factory.name }}</td>
        <td>{{ result.fw_version }}</td>
        <td>{{ result.rssi_ble1 }}</td>
        <td>{{ result.rssi_wifi1|parse_rssi_wifi_na }}</td>
        <td>{{ result.mac_ble }}</td>
        <td>{{ result.mac_wifi }}</td>
        <td>{{ result.reserve_str_1 }}</td>
        <!--<td {% if not result.bool_qualified_signal %}bgcolor="red"{% endif %} >{{ result.bool_qualified_signal|parse_is_qualified }}</td>-->
        <td {% if not result.bool_qualified_signal %} class="alert-warning" {% endif %} >{{ result.bool_qualified_signal|parse_is_qualified }}</td>
        <td {% if not result.bool_qualified_check %} class="alert-warning"{% endif %} >{{ result.bool_qualified_check|parse_is_qualified }}({{result.status_cmd_check1}})</td>
        <td {% if not result.bool_qualified_scan %} class="alert-warning" {% endif %} >{{ result.bool_qualified_scan|parse_is_qualified }}</td>
        <td {% if not result.bool_qualified_deviceid %} class="alert-warning" {% endif %} >{{ result.bool_qualified_deviceid|parse_is_qualified }}</td>
        <td {% if not result.reserve_bool_1 %} class="alert-warning" {% endif %} >{{ result.reserve_bool_1|parse_is_qualified }}</td>
        <td {% if result.reserve_int_1 != 0 %} class="alert-warning" {% endif %} >{{ result.reserve_int_1|parse_mac_is_qualified }}({{result.reserve_int_1}})</td>
        <td>{{ result.datetime }}</td>
