        <thead>
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2">设备类型</th>
            <th rowspan="2">工厂</th>
            <th rowspan="2">固件版本</th>
            <th rowspan="2">RSSI_BLE</th>
            <th rowspan="2">RSSI_WIFI</th>
            <th rowspan="2">MAC_BLE</th>
            <th rowspan="2">MAC_WIFI</th>
            <th rowspan="2">MCU</th>
            <th colspan="6">检测结果</th>
            <th rowspan="2">时间</th>
            <th rowspan="2">控制</th>
        </tr>
        <tr>
            <th>信号强度</th>
            <th>组合指令</th>
            <th>广播扫描</th>
            <th>设备类型</th>
            <th>版本检测</th>
            <th>MAC检测</th>
        </tr>
        </thead>

