{% extends '_mybase.html' %}

{% block content %}
    <div style="width:50%">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">版本</h3>
            </div>
            <div class="panel-body">
                <p>version 0.2.3 beta</p>
            </div>
        </div>

        <!--
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">联系</h3>
          </div>
          <div class="panel-body">
            <p>lingshan.kong@ge.com</p> 
            <p>nan2.li@ge.com</p>
          </div>
        </div>
        -->
    </div>
{% endblock %}

