{% extends '_mybase.html' %}

{% block content %}
    {{ super() }}

    <div style="padding-left: 10px">

        <form action={{ url_for('blue_admin.cmd_upload_configfile') }} method="post" enctype=multipart/form-data>
            <input type="file" name="file" value="请选择配置文件" style="display: inline">
            <input type="submit" value='导入'>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-warning">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}

