{% extends '_mybase.html' %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}


{% block content %}

    {{ super() }}

    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script> 
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("#btn1_poweroff").click(function(){
                if(window.confirm("确认关闭树莓派吗?")==false)
                    return false;
                var cmd = "poweroff";
                var data = {'cmd': cmd};
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn2_reboot").click(function(){
                if(window.confirm("确认重启树莓派吗?")==false)
                    return false;
                var cmd = "reboot";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn3_reset").click(function(){
                if(window.confirm("确认重置吗?")==false)
                    return false;
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_reset') }}";
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn4_restart_aging-main").click(function(){
                if(window.confirm("确认重启aging-main服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-main.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn5_restart_aging-logmonitor").click(function(){
                if(window.confirm("确认重启aging-logmonitor服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-logmonitor.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn6_restart_aging-gotool").click(function(){
                if(window.confirm("确认重启aging-gotool服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-gotool.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
        });
    </script>

    <input type="button" id="btn1_poweroff" value="关闭树莓派">
    <p style="display: inline">关闭后，请等待一至两分钟后关闭电源</p>
    <br>
    <br>
    <input type="button" id="btn2_reboot" value="重启树莓派">
    <p style="display: inline">重启后，请等待一至两分钟后刷新页面</p>
    <br>
    <br>
    <input type="button" id="btn3_reset" value="重置系统">
    <p style="display: inline">重置Sqlite中系统运行数据，如运行状态，错误代码</p>
    <br>
    <br>
    <input type="button" id="btn4_restart_aging-main" value="重启aging-main服务">
    <p style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn5_restart_aging-logmonitor" value="重启aging-logmonitor服务">
    <p style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn6_restart_aging-gotool" value="重启aging-gotool服务">
    <p style="display: inline"></p>


{% endblock %}

