{% extends '_mybase.html' %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}


{% block indent_content %}

    {{ super() }}

    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script> 
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("#btn1_poweroff").click(function(){
                if(window.confirm("确认关闭树莓派吗?")==false)
                    return false;
                var cmd = "poweroff";
                var data = {'cmd': cmd};
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn2_reboot").click(function(){
                if(window.confirm("确认重启树莓派吗?")==false)
                    return false;
                var cmd = "reboot";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_onlinecmd') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    "json"
                );
            });
            $("#btn3_reset").click(function(){
                if(window.confirm("确认重置吗?")==false)
                    return false;
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_reset') }}";
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            msg='成功';
                        else
                            msg='失败';
                        $('#p3_reset').css('color', 'red');
                        $('#p3_reset').html(msg);
                    },
                    "json"
                );
            });
            $("#btn4_restart_aging-main").click(function(){
                if(window.confirm("确认重启aging-main服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-main.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_retcode') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            // msg='成功';
                            msg='稍后刷新页面，已验证是否重启成功';
                        else
                            // msg='失败';
                            msg='稍后刷新页面，已验证是否重启成功';
                        $('#p4_restart_aging-main').css('color', 'red');
                        $('#p4_restart_aging-main').html(msg);
                    }, 
                    "json"
                );
            });
            $("#btn5_restart_aging-logmonitor").click(function(){
                if(window.confirm("确认重启aging-logmonitor服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-logmonitor.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_retcode') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            msg='成功';
                        else
                            msg='失败';
                        // $('#p5_restart_aging-logmonitor').html(data.retcode);
                        $('#p5_restart_aging-logmonitor').css('color', 'red');
                        $('#p5_restart_aging-logmonitor').html(msg);
                    },
                    "json"
                );
            });
            $("#btn6_restart_aging-gotool").click(function(){
                if(window.confirm("确认重启aging-gotool服务吗?")==false)
                    return false;
                var cmd = "systemctl restart aging-gotool.service";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_retcode') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            msg='成功';
                        else
                            msg='失败';
                        $('#p6_restart_aging-gotool').css('color', 'red');
                        $('#p6_restart_aging-gotool').html(msg);
                    },
                    "json"
                );
            });
            $("#btn7_reset_sqlite").click(function(){
                if(window.confirm("确认重置数据库吗?")==false)
                    return false;
                var cmd = "/root/aging/run.sh --resetdb_sqlite";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_retcode') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            msg='成功';
                        else
                            msg='失败';
                        $('#p7_reset_sqlite').css('color', 'red');
                        $('#p7_reset_sqlite').html(msg);
                    },
                    "json"
                );
            });
            $("#btn8_reset_mysql").click(function(){
                if(window.confirm("确认重置数据库吗?")==false)
                    return false;
                var cmd = "/root/aging/run.sh --resetdb_mysql";
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_cmd_retcode') }}" + "?cmd=" + cmd;
                $.post(
                    url,
                    function(data){
                        if(data.retcode==0)
                            msg='成功';
                        else
                            msg='失败';
                        $('#p8_reset_mysql').css('color', 'red');
                        $('#p8_reset_mysql').html(msg);
                    },
                    "json"
                );
            });
        });
    </script>

    <input type="button" id="btn1_poweroff" value="关闭树莓派">
    <p style="display: inline">软关闭后，请等待一至两分钟后关闭电源</p>
    <br>
    <br>
    <input type="button" id="btn2_reboot" value="重启树莓派">
    <p style="display: inline">重启后，请等待一至两分钟后刷新页面</p>
    <br>
    <br>
    <input type="button" id="btn4_restart_aging-main" value="重启aging-main服务">
    <p style="display: inline">重启主服务</p>
    <p id="p4_restart_aging-main" style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn5_restart_aging-logmonitor" value="重启aging-logmonitor服务">
    <p style="display: inline">重启实时日志服务</p>
    <p id="p5_restart_aging-logmonitor" style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn6_restart_aging-gotool" value="重启aging-gotool服务">
    <p style="display: inline">重启gotool服务</p>
    <p id="p6_restart_aging-gotool" style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn3_reset" value="重置系统运行数据">
    <p style="display: inline">重置sqlite中系统运行数据，如运行状态，错误代码</p>
    <p id="p3_reset" style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn7_reset_sqlite" value="重置Sqlite数据库">
    <p style="display: inline">清除数据库Sqlite的全部数据，并升级库表 </p>
    <p id="p7_reset_sqlite" style="display: inline"></p>
    <br>
    <br>
    <input type="button" id="btn8_reset_mysql" value="重置Mysql数据库">
    <p style="display: inline">清除数据库Mysql的全部数据，并升级库表 </p>
    <p id="p8_reset_mysql" style="display: inline"></p>


{% endblock %}

