<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<html>
<head>
  <title>
    GE Lighting Aging Test Tool
  </title>
</head>
<body>
  <head>GE Lighting Aging Test Tool</head>
  </br>
  </br>
  <a href="/info_aging/">查看老化数据</a>
  </br>
  <a href="/info_device/">查看设备类型</a>
  </br>
  <a href="/info_factory/">查看工厂信息</a>
  </br>
  </br>
  <form action="/cmd_start/" method="post"> 
    <button type="submit">开始</button>
  </form>
  {%- for message in get_flashed_messages() %}
    {{ message }}
  {%- endfor %} 
</body>
</html>
