{% extends '_mybase.html' %}

{% block indent_content %}
    {{ super() }}

    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script> 
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("#btn_delete").click(function(){
                if(window.confirm("确认删除数据吗?")==false)
                    return false;
            });
            $("#btn_upload").click(function(){
                if(window.confirm("确认上传数据吗?")==false)
                    return false;
            });
        });
    </script>


    <legend>查看历史测试数据 (已同步)</legend>
    <div class="pagination-sm">
        <div style="display: inline">{{ pagination.info }}</div>
        <div style="display: inline">{{ pagination.links }}</div>
    </div>


    <div class="btn-group" style="display:inline">
        <form style="display: inline" action="{{ url_for('blue_manage.vf_data') }}" method="get">
            <button type="submit" class="btn btn-primary ">刷新</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_manage.cmd_download_testdatasarchive') }}" method="post">
            <button type="submit" class="btn btn-primary" >下载报表</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_manage.cmd_deletearchive') }}" method="post">
            <button id="btn_delete" type="submit" class="btn btn-danger">清除数据</button>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-warning" style="display: inline">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <br>
    <br>

    <div id="search" class="btn-group" style="display:inline">
        <form action="{{url_for('blue_manage.cmd_search')}}" method="post">
            <input type="submit" value="搜索">
            设备类型:
            <select id="devicecode" name="devicecode">
                <option value="" style='display: none'>-</option>
                {% for device in get_devices() %}
                    <option value={{ device.code }}>{{ device.name }}({{device.code_hex}})</option>
                {% endfor %}
            </select>
            Ble Mac: <input type="text" name="blemac" value="">
        </form>
    <div>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2">设备类型</th>
            <th rowspan="2">厂家</th>
            <th rowspan="2">固件版本</th>
            <th rowspan="2">RSSI_BLE</th>
            <th rowspan="2">RSSI_WIFI</th>
            <th rowspan="2">MAC_BLE</th>
            <th rowspan="2">MAC_WIFI</th>
            <th rowspan="2">MCU</th>
            <th colspan="6">检测结果</th>
            <th rowspan="2">时间</th>
        </tr>
        <tr>
            <th>信号强度</th>
            <th>组合指令</th>
            <th>广播扫描</th>
            <th>设备类型</th>
            <th>版本检测</th>
            <th>MAC检测</th>
        </tr>
        </thead>

        <tbody>
        {% for result in results %}
            {% if not result.bool_qualified_signal or not result.bool_qualified_check or not result.bool_qualified_scan or not result.bool_qualified_deviceid or not result.reserve_bool_1 or result.reserve_int_1 != 0 %}
                <tr class="info">
            {% else %}
                <tr class="default">
            {% endif %}
        <td>{{ loop.index + pagination.skip }}</td>
        {% include '_resulttable.html' %}
        </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ pagination.links }}
    </div>
    <div>
    <br>
    <br>
{% endblock %}

