{% extends '_mybase.html' %}

{% block content %}
    {{ super() }}

    <legend>升级说明:</legend>
    <div>1. 获取升级授权码</div>
    <div>2. 检查网络</div>
    <div>3. 输入升级码，执行升级</div>

    <br>
    <br>
    <br>

    <legend>升级操作:</legend>
    <p>1.网络检查: </p>
    <form style="display: inline" action="{{ url_for('blue_manage.cmd_checknetwork') }}" method="post">
        <input type="submit" value='检查网络'>
    </form>

    {% if network_enabled|string %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="display: inline" class="text-warning">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

    <br>
    <br>

    <p>2. 执行升级</p>

    <form action="{{ url_for('blue_manage.cmd_upgrade') }}" method="post">
        <input type="text" name="pin" size="35" placeholder="input auth code">
        <input type="submit" value='升级'>
    </form>

    <br>

    {% if upgrade_errno|string %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="display: inline" class="text-warning">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

{% endblock %}

