{% extends '_mybase.html' %}

{% block content %}
    {{ super() }}

    <legend>查看厂家信息</legend>
    <table class="table table-striped table-hover">
        <tr>
            <th>序号</th>
            <th>工厂代码</th>
            <th>工厂名称</th>
            <th>其他</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ result.code }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.description }}</td>
            </tr>
        {% else %}
        {% endfor %}
    </table>

{% endblock %}

