{% extends '_mybase.html' %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}


{% block indent_content %}
    {{ super() }}
    {% include '_configinfo.html' %}

    <lable>模式: {{ test_mode() }} </label>
    &nbsp;&nbsp;&nbsp;

    <table class="table table-striped table-hover ">
        {% include '_thead.html' %}
        <tbody>
        </tbody>
    </table>

    <script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">

        function _jump() {
            window.location.replace("{{url_for('blue_test.post_cmd_start')}}");
        }

        function jump() {
            setTimeout("_jump()", 2000)
        }

        function notice_server_redirected_done(){

        }

        var c = 0
        var t
        function timedCount() {
            document.getElementById('timer').innerHTML = c
            c = c + 1
            t = setTimeout("timedCount()", 1000)
        }
        function stopCount() {
            clearTimeout(t)
        }

        var x = '';
        function countSecond() {
            x = (x == '.....') ? '' : (x + '.');
            document.getElementById('loading').innerText = x;
            setTimeout("countSecond()", 1000);
        }

        $(document).ready(function () {

            namespace = '/test';

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('mydone', function () {
                var url = location.protocol + '//' + document.domain + ':' + location.port + "{{ url_for('api_notice_eventdone') }}";
                $.post(
                    url,
                    "json"
                );
                $('#main').attr("class", "jumbotron alert-success");
                $('#testing').text('测试完成!');
                $('#loading').hide();
                jump();
            });

        });

        window.onload = function () {
            timedCount();
            countSecond();
        }

    </script>


    <div id="main" class="jumbotron alert-info" style="padding-left: 60px;padding-right: 30px">
        <h1 id="testing" style="display: inline">测试中</h1>
        <h1 id="loading" style="display: inline"></h1>
        <br>
        <br>
        <span id="tip1">1. 程序运行中，请勿刷新或关闭此页面！</span>
        <br>
        <span id="tip2">2. 如果页面长时间未自动跳转，请<a style="display: inline" href="{{ url_for('blue_test.post_cmd_start') }}" class="btn btn-link">手动转到</a>测试结果页面。</span>
        <br>
        <span id="tip3">3. 计时: </span>
        <span id="timer"></span>
    </div>

{% endblock %}

