{% extends '_mybase.html' %}


{% block content %}
    {{ super() }}

    <form style="display: inline" id='start' action="{{ url_for('blue_test.vf_cmd_start') }}" method="post">
        <button type="submit" class="btn btn-success disabled">开始</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    <!--<div align="right">-->
    <div style="display: inline">
        <p style="display: inline"><strong>数量</strong>:</span> <span class="text-success"> {{ totalcount() }}</p>
    </div>


    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>设备类型</th>
            <th>工厂</th>
            <th>固件版本</th>
            <th>RSSI_BLE</th>
            <th>RSSI_WIFI</th>
            <th>MAC_BLE</th>
            <th>MAC_WIFI</th>
            <th>合格</th>
            <th>时间</th>
            <th colspan="2">控制</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!--
    <legend>测试中...</legend> 
    -->

    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        function jump() {
            window.location.replace("{{url_for('blue_test.process_finished')}}");
        }

        $(document).ready(function () {

            namespace = '/test';
            var socket = io(namespace);
            socket.on('progress', function (msg) {
                if (msg.newline == 1) {
                    $('#testing').append(',');
                }
                $('#testing').append('.');
            });

            socket.on('event_done', function () {
                $('#message').append('<br>');
                $('#message').append('done');
                jump();
            });
        });

    </script>

    <script type="text/javascript">
        var c = 0
        var t
        function timedCount() {
            // document.getElementById('timer').value = c
            document.getElementById('timer').innerHTML = c
            // document.getElementById('errno').innerHTML = {{ errno() }}
            //var r = {{ running() }}
            //document.getElementById('running').innerHTML = r
            
            c = c + 1
            t = setTimeout("timedCount()", 1000)
        }
        function stopCount() {
            clearTimeout(t)
        }
    </script>


    <div class="jumbotron alert-info" style="padding-left: 30px">
        <h1 id="testing">测试中</h1>
        <br>
        <br>
        <p>程序运行中，请勿刷新或关闭此页面！</p>
        <p>如果页面长时间未自动跳转，请<a style="display: inline" href="{{ url_for('blue_test.process_finished') }}"
                            class="btn btn-link">手动转到</a>测试结果页面。</p>
    </div>

    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <span id="message"></span>

<form style="display: inline">
    <input type="button" value="计时" onClick="timedCount()">
    <input type="button" value="停止" onClick="stopCount()">
</form>
<!--<input type="text" id="timer">-->
<span id="timer"></span>
<span id="errno"></span>
<span id="running"></span>


{% endblock %}

