{% extends '_mybase.html' %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}

{% block indent_content %}
    {{ super() }}
    {% include '_configinfo.html' %}

    <form style="display: inline" id='start' action="{{ url_for('blue_test.vf_cmd_start') }}" method="post">
        <button type="submit" class="btn btn-success">开始</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    <form style="display: inline" id='reset' action="{{ url_for('blue_test.cmd_reset') }}" method="post">
        <button type="submit" class="btn btn-success">重置ble网络名</button>
    </form>

    <table class="table table-striped table-hover ">
        {% include '_thead.html' %}
        <tbody>
        </tbody>
    </table>

{% endblock %}

