{% extends '_mybase.html' %}

{% block indent_content %}
    {{ super() }}
    {% include '_configinfo.html' %}

    <div class="btn-group">
        <form style="display: inline" action="{{ url_for('blue_test.vf_finished') }}" method="get">
            <button type="submit" class="btn btn-primary">刷新</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_test.cmd_download_testdatas') }}" method="post">
            <button type="submit" class="btn btn-primary" {% if results|count == 0 %}disabled{% endif %}>下载报表</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <form style="display: inline" action="{{ url_for('blue_test.cmd_allon') }}" method="post">
            <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>全部点亮</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_test.cmd_alloff') }}" method="post">
            <button type="submit" class="btn btn-danger" {% if results|count == 0 %}disabled{% endif %}>全部熄灭</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_test.vf_cmd_blink_all') }}" method="post">
            <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>闪烁全部</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_test.vf_cmd_blink_failed') }}" method="post">
            <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>闪烁坏灯</button>
        </form>
        <form style="display: inline" action="{{ url_for('blue_test.vf_cmd_blink_stop') }}" method="post">
            <button type="submit" class="btn btn-danger" {% if results|count == 0 %}disabled{% endif %}>停止闪烁</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <form style="display: inline" action="{{ url_for('blue_test.cmd_kickout') }}" method="post">
            <button type="submit" class="btn btn-danger" {% if results|count == 0 %}disabled{% endif %}>Kickout</button>
        </form>
        {% if devicecode() in [67, 66] %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <form style="display: inline" action="{{ url_for('blue_test.cmd_indicator_r') }}" method="post">
                <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>指示灯R</button>
            </form>
            <form style="display: inline" action="{{ url_for('blue_test.cmd_indicator_g') }}" method="post">
                <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>指示灯G</button>
            </form>
            <form style="display: inline" action="{{ url_for('blue_test.cmd_indicator_b') }}" method="post">
                <button type="submit" class="btn btn-success" {% if results|count == 0 %}disabled{% endif %}>指示灯B</button>
            </form>
        {% endif %}
    </div>


    <table class="table table-striped table-hover ">
        {% include '_thead.html' %}
        <tbody>
        {% for result in results %}
            {# {% if not result.bool_qualified_signal or not result.bool_qualified_check or not result.bool_qualified_scan or not result.bool_qualified_deviceid or not result.reserve_bool_1 or result.reserve_int_1 != 0 %} #}
            {% if not result.bool_qualified_overall %}
                {% if loop.index|string == control_index %}
                    <tr class="warning">
                {% else %}
                    <tr class="info">
                {% endif %}
            <td>{{ loop.index }}</td>
            {% include '_resulttable.html' %}
            <td>
                <form action="{{ url_for('blue_test.vf_cmd_blink_single') }}" method="post">
                    <input type="hidden" name="index" value="{{ loop.index }}"/>
                    <input type="hidden" name="mac" value="{{ result.mac_ble }}"/>
                    <button type="submit" class="btn btn-primary btn-xs">闪烁</button>
                </form>
            </td>
            </tr>
            {% endif %}
        {% else %}
        {% endfor %}

        {% for result in results %}
            {# {% if result.bool_qualified_signal and result.bool_qualified_check and result.bool_qualified_scan and result.bool_qualified_deviceid and result.reserve_bool_1 and result.reserve_int_1 == 0 %} #}
            {% if result.bool_qualified_overall %}
                <tr class="default">
                    <td>{{ loop.index }}</td>
                    {% include '_resulttable.html' %}
                    <td>
                      -
                    </td>
                </tr>
            {% endif %}
        {% else %}
        {% endfor %}
        </tbody>
    </table>

    {%- for message in get_flashed_messages() %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <div>
    <div>
    </div>
    <div>
    <br>
    <br>

{% endblock %}

