{% extends '_mybase.html' %}

{% block head%}
  {{super()}}

    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/test';
            // var socket = io(namespace);
            var websocket_url = 'http"//' + document.domain + ':' + location.port + '/test';
            var socket = io.connect(wesocket_url);

            $('form#start').submit(function(event) {
                socket.emit('event_start');
                return true;
            });
        });
    </script>



{% endblock head%}

{% block content %}
  {{ super() }}

<form style="display: inline" id='start' action = "{{url_for('blue_test.vf_cmd_start')}}" method = "post">
  <button type="submit" class="btn btn-success">开始</button>
</form>
&nbsp;&nbsp;&nbsp;
<!--<div align="right">-->
<div style="display: inline">  
  <p style="display: inline" ><strong>数量</strong>:</span> <span class="text-success" > {{ totalcount() }}</p>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>设备类型</th>
      <th>工厂</th>
      <th>固件版本</th>
      <th>RSSI_BLE</th>
      <th>RSSI_WIFI</th>
      <th>MAC_BLE</th>
      <th>MAC_WIFI</th>
      <th>合格</th>
      <!-- <th>云同步</th> -->
      <th>时间</th>
      <th colspan="2">控制</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> 

{% endblock %}


