<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCU配置项目说明</title>
</head>
<body>

<h4>要求配置MCU的产品类型为：</h4>

<p>Dimmer Switch(No-Neutral)：</p>
<ul type="disc">
 <li>Dimmer Switch(0x37)</li>
 <li>Dimmer Switch(Premium)(0x38)</li>
</ul>

<p>Switch(No-Neutral)：</p>
<ul type="disc">
 <li>Switch Toggle(0x3A)</li>
 <li>Switch Paddle(0x39)</li>
 <li>Switch Centre Button(0x3B)</li>
</ul>

<p>Dimmer Switch</p>
<ul type="disc">
 <li>Dimmer Switch(0x30)</li>
 <li>Dimmer Switch(Premium)(0x31)</li>
</ul>

<p>Switch</p>
<ul type="disc">
 <li>Switch Toggle(0x34)</li>
 <li>Switch Paddle(0x33)</li>
 <li>Switch Centre Button(0x35)</li>
</ul>

<br>

<!-- <a href="{{ url_for('blue_test.vf_config') }}" class="btn btn-link">返回</a> -->
<FORM>
<INPUT TYPE="BUTTON" VALUE="关闭" onClick="window.close()">
</FORM>

</body>
</html>
